*{
    font-size: 1.2rem;
}
.right-side{
    margin-left: 250px;
    margin-top: 1%;
}
.btn-play{
    width: 160px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform ;
    transition-property: box-shadow, transform ;
}
.btn-play:hover, .btn-play:focus, .btn-play:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1) ;
    transform: scale(1.1);
}
#main-game{
    display: grid;
    grid-template-columns:repeat(10, 60px);
    grid-template-rows: repeat(20, 60px);
}
.matrix-box{
    border: 1px solid black;

}